/* <a href='https://www.freepik.com/free-photos-vectors/business'>Business vector created by catalyststuff - www.freepik.com</a> */
/* <a href="https://www.freepik.com/free-photos-vectors/logo">Logo vector created by catalyststuff - www.freepik.com</a> */
/* <a href='https://www.freepik.com/free-photos-vectors/people'>People vector created by catalyststuff - www.freepik.com</a> */
/* <a href='https://www.freepik.com/free-photos-vectors/school'>School vector created by catalyststuff - www.freepik.com</a> */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#table {
  border-style: solid;
}

#buttons {
  display: flex;
  /* justify-content: space-around; */
  /* align-content: space-around; */
  margin-left: 3%;
  /* width: 110%; */
}

#searchButton {
  background-color: rgb(107, 197, 107);
  margin-left: 1%;
}

#updateButton {
  bottom: 20vh;
  background-color: #4a83ff;
  color: white;
  margin-top: 5%;
}

#tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#table {
  width: 65vw;
  padding: 1%;
}

#navBar {
  background-color: #234990;
  height: 10vh;
  /* margin-bottom: 5%; */
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#tableTitle {
  background-color: #3c83b6;
  color: white;
  padding: 1%;
  /* border-radius: 25%; */
}

li {
  color: white;
}

header {
  background-color: #3c83b6;
  color: white;
  border-style: inset;
}

body {
  background-color: #ffecdf;
  overflow-x: hidden;
  height: 100vh;
}
#holder {
  min-height: 100%;
  position: relative;
}

#titleContainer {
  /* border-style: solid; */
  border-style: inset;
  background-color: #3c83b6;
  margin-bottom: 5%;
}

#footerContainer {
  background-color: #234990;
  color: white;
  padding: 1%;
  margin-top: 5%;
  /* left: 0px; */
  bottom: 0px;
  height: 30px;
  width: 100%;
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#fixedFooterContainer {
  background-color: #234990;
  color: white;
  padding: 1%;
  /* margin-top: 5%; */
  position: fixed;
  /* left: 0px; */
  bottom: 0px;
  height: 30px;
  width: 100%;
}

/* #tableContainer {
  margin-bottom: 100%;
} */

.Button {
  margin: 90%;
  padding: 90%;
}

#addButton {
  margin-top: 2%;
  background-color: #52aaff;
  color: white;
}

#circle {
  width: 350px;
  height: 350px;
  background: #3c83b6;
  border-radius: 50%;
  /* display: flex;
  justify-content: right; */
  border-style: solid;
  box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
}

#waveCircle {
  width: 350px;
  height: 350px;
  background: #3c83b6;
  border-radius: 50%;
  /* display: flex;
  justify-content: right; */
  border-style: solid;
  box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70vw;
  margin-top: 4vh;
}

#circleContainer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;

  /* border-style: solid; */
  /* display: inline-block; */
  /* float: left/right */
  /* position: absolute */
}

#rocket {
  /* transform: scaleX(-1); */
  box-shadow: black;
}

#preview {
  display: flex;
  /* justify-content: start; */
  border-style: solid;
  height: 55vh;
  width: 65vw;
  padding-left: 0.5%;
  margin-left: 3%;
  background-color: lightgreen;
  justify-content: center;
  /* margin-bottom: 2; */
  border-radius: 30px 30px 30px 30px;
  align-items: center;
}

#explanation {
  display: flex;
  /* justify-content: start; */
  /* border-style:groove; */
  /* height: -40vh; */
  width: 55vw;
  padding-left: 0.5%;
  margin-left: 7%;
  /* margin-top: 250vh; */
  /* align-items: center; */
  justify-content: center;
}

#formContainer {
  margin-top: 5%;
}
/* makes the calender transparent */
input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
  color: transparent;
}

#listContainer {
  height: 100vh;
}

#updateForm {
  margin-top: 5%;
}

/* #circleContainer {
  border-style: solid;
  display: inline-block;
  float: left/right;
  position: absolute;
} */

#rocketCloudContainer {
  display: flex;
  width: 250px;
  height: 250px;
  background: #3c83b6;
  border-radius: 50%;
  border-style: solid;
  box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
}

#rocketCloud {
  transform: scaleX(-1);
}

#editButton {
  margin-right: 1%;
}

.aboutMe {
  color: white;
}

#footerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 22%; */
}

#aboutMeButton {
  background-color: #ddd;
  border: none;
  color: #234990;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 5px 6px #42403a;
  font-weight: 900;
}

#navButtons {
  background-color: #ddd;
  border: none;

  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 5px 6px #42403a;
  font-weight: 900;
}

li {
  color: #234990;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

#aboutMeLinkButton {
  background-color: #ddd;
  border: none;
  color: #234990;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 5px 6px #42403a;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}
